*{
  padding: 0;
  margin: 0;

}
.hello{
  vertical-align: center;
  margin-top: 50%;
}

.center{
  top:15%;
  right: 10%;
  padding:2%;

  background-color: white;
}
.quote{
  font-family: monospace;
  font-size: 2vw;
  font-weight: bold;
  
  animation-name: quote;

}

.twi{


  font-size: 3vw;
}

.author{
  font-family: monospace;
  opacity: 0.8;
  font-size: 1.5vw;
  margin-left: 30%;
  
}


